{% extends 'base.html' %}

{% block content %}
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header"> Journal Portals</h1>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <p>ISHAR sources hundreds of medical and scientific journals to gather its information, but due to copyright limitations the ISHAR library does not contain all sources from all journals.  We encourage our visitors to explore the many source materials behind ISHAR, especially if they cannot find a source they were looking for on this site.  Below is a list of links to over one hundred medical and scientific journals dedicated to the discussion of complementary and alternative medicine (CAM), consciousness and the mind-body connection.  Below this Journal Portal are summaries of many of the journals which offer full or partial access for free, a rare and valuable feature outside of ISHAR.</p>
    </div>
</div>
<div class="row">
    <div class="col-lg-4 col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">Clinical</div>
            <div class="panel-body">
        
                <div class="dropdown" style="margin-bottom:5px">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Animal Experimentation <span class="caret"></span>
                     </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu3">
                        <li><a class="dropdown-item" href="http://www.altex.ch/en/index.html?id=12">Altex - Alternatives to Animal Experimentation</a></li>
                    </ul>
                </div>
                <div class="dropdown" style="margin-bottom:5px">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton9" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Clinical
 <span class="caret"></span>                     </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton9">
                        <li><a class="dropdown-item" href="http://www.ijceh.com/index.php">International Journal of Clinical and Experimental Hypnosis</a></li>
                        <li><a class="dropdown-item" href="http://ijca.net/">International Journal of Clinical Aromatherapy</a></li>
                    </ul>
                </div>
                <div class="dropdown" style="margin-bottom:5px">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton19" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Health Technology
 <span class="caret"></span>                     </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton19">
                        <li><a class="dropdown-item" href="http://www.hta.ac.uk/project/htapubs.asp">Health Technology Assessment</a></li>
                    </ul>
                </div>
                <div class="dropdown" style="margin-bottom:5px">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton36" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Research
 <span class="caret"></span>                     </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton36">
                        <li><a class="dropdown-item" href="http://www.tandf.co.uk/journals/titles/10715762.html">Free Radical Research</a></li>
                    </ul>
                </div>
                <div class="dropdown" style="margin-bottom:5px">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton37" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Science
 <span class="caret"></span>                     </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton37">
                        <li><a class="dropdown-item" href="http://www.elsevier.com/wps/find/journaldescription.cws_home/703862/description">Explore - The Journal of Science and Healing</a></li>
                    </ul>
                </div>
                <div class="dropdown" style="margin-bottom:5px">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton31" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Oncology
 <span class="caret"></span>                     </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton31">
                        <li><a class="dropdown-item" href="http://www.bcdecker.com/productDetails.aspx?BJID=329">Journal of the Society for Integrative Oncology</a></li>
                    </ul>
                </div>
                <div class="dropdown" style="margin-bottom:5px">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton34" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Phytomedicine
 <span class="caret"></span>                     </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton34">
                        <li><a class="dropdown-item" href="http://www.elsevier.com/wps/find/journaldescription.cws_home/701794/description">Phytomedicine</a></li>
                    </ul>
                </div>
                <div class="dropdown" style="margin-bottom:5px">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton35" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Phytotherapy
 <span class="caret"></span>                     </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton35">
                        <li><a class="dropdown-item" href="http://www3.interscience.wiley.com/cgi-bin/jhome/12567">Phytotherapy Research</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">Disease</div>
            <div class="panel-body">
                <div class="dropdown" style="margin-bottom:5px">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton8" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Cancer
 <span class="caret"></span>                     </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton8">
                        <li><a class="dropdown-item" href="http://www.sagepub.com/journal.aspx?pid=286">Integrative Cancer Therapies</a></li>
                    </ul>
                </div>
                <div class="dropdown" style="margin-bottom:5px">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton23" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Hypnosis
 <span class="caret"></span>                     </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton23">
                        <li><a class="dropdown-item" href="http://www.asch.net/ajch.htm">American Journal of Clinical Hypnosis</a></li>
                        <li><a class="dropdown-item" href="http://www.ozhypnosis.com.au/journal/journal.htm">Australian Journal of Clinical and Experimental Hypnosis</a></li>
                        <li><a class="dropdown-item" href="http://www.wiley.com/WileyCDA/WileyTitle/productCd-CH.html">Contemporary Hypnosis</a></li>
                        <li><a class="dropdown-item" href="http://www.ejch.com/">European Journal of Clinical Hypnosis</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">Health</div>
            <div class="panel-body">
                <div class="dropdown" style="margin-bottom:5px">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton5" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Biology
 <span class="caret"></span>                     </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton5">
                        <li><a class="dropdown-item" href="http://www.elsevier.com/locate/freeradbiomed">Free Radical Biology and Medicine</a></li>
                    </ul>
                </div>
                <div class="dropdown" style="margin-bottom:5px">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu4" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Behavioral
 <span class="caret"></span>                     </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu4">
                        <li><a class="dropdown-item" href="http://www.ijbnpa.org/home">International Journal of Behavioral Nutrition and Physical Activity</a></li>
                        <li><a class="dropdown-item" href="http://www.sciencedirect.com/science/journal/13608592">Journal of Bodywork and Movement Therapies</a></li>
                    </ul>
                </div>
                <div class="dropdown" style="margin-bottom:5px">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton11" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Circadian Rhythm
 <span class="caret"></span>                     </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton11">
                        <li><a class="dropdown-item" href="http://www.jcircadianrhythms.com/home">Journal of Circadian Rhythms</a></li>
                    </ul>
                </div>
                <div class="dropdown" style="margin-bottom:5px">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton12" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Child Health
 <span class="caret"></span>                     </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton12">
                        <li><a class="dropdown-item" href="http://www.elsevier.com/wps/find/journaldescription.cws_home/712422/description">Paediatrics and Child Health</a></li>
                    </ul>
                </div>
                <div class="dropdown" style="margin-bottom:5px">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton13" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Dietary
 <span class="caret"></span>                     </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton13">
                        <li><a class="dropdown-item" href="http://www.haworthpressinc.com/store/product.asp?sku=J478">Journal of Dietary Supplements</a></li>
                    </ul>
                </div>
                <div class="dropdown" style="margin-bottom:5px">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton18" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Feet
 <span class="caret"></span>                     </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton18">
                        <li><a class="dropdown-item" href="http://www.reflexology.org.au/1/modules.php?op=modload&name=Reflexology&file=forms/footprints">FootPrints</a></li>
                    </ul>
                </div>
                <div class="dropdown" style="margin-bottom:5px">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButtonzxz" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Health Promotion
 <span class="caret"></span>                     </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButtonzxz">
                        <li><a class="dropdown-item" href="http://www.healthpromotionjournal.com/">American Journal of Health Promotion</a></li>
                        <li><a class="dropdown-item" href="http://www.biomedcentral.com/bmchealthservres">BMC Health Services Research</a></li>
                        <li><a class="dropdown-item" href="http://www.emeraldinsight.com/he.htm">Health Education</a></li>
                        <li><a class="dropdown-item" href="http://www.haworthpressinc.com/store/product.asp?sku=J026">Health Marketing Quarterly</a></li>
                        <li><a class="dropdown-item" href="http://www.haworthpressinc.com/store/product.asp?sku=J027">Home Health Care Services Quarterly</a></li>
                        <li><a class="dropdown-item" href="http://ijahsp.nova.edu/">Internet Journal of Allied Health Sciences and Practice</a></li>
                        <li><a class="dropdown-item" href="http://jech.bmjjournals.com/">Journal of Epidemiology and Community Health</a></li>
                        <li><a class="dropdown-item" href="http://www3.interscience.wiley.com/cgi-bin/jhome/76509996?CRETRY=1&SRETRY=0">Stress and Health</a></li>
                        <li><a class="dropdown-item" href="http://www.blackwellpublishing.com/journal.asp?ref=1098-3015&site=1">Value in Health</a></li>
                        <li><a class="dropdown-item" href="http://www.wellbeingjournal.com/">Well Being Journal Online</a></li>
                    </ul>
                </div>
                <div class="dropdown" style="margin-bottom:5px">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton26" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Midwifery
 <span class="caret"></span>                     </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton26">
                        <li><a class="dropdown-item" href="http://www.elsevier.com/wps/find/journaldescription.cws_home/623060/description">Midwifery</a></li>
                    </ul>
                </div>
                <div class="dropdown" style="margin-bottom:5px">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton32" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Public Health
 <span class="caret"></span>                     </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton32">
                        <li><a class="dropdown-item" href="http://www.ajph.org/">American Journal of Public Health</a></li>
                        <li><a class="dropdown-item" href="http://hsw.oxfordjournals.org/content/by/year">Health and Social Work</a></li>
                        <li><a class="dropdown-item" href="http://www.haworthpressinc.com/store/product.asp?sku=J045">Journal of Health and Social Policy</a></li>
                        <li><a class="dropdown-item" href="http://www.haworthpressinc.com/store/product.asp?sku=J080">Journal of Health Care Chaplaincy</a></li>
                        <li><a class="dropdown-item" href="http://www.blackwellpublishing.com/journal.asp?ref=1473-6853&site=1">Learning in Health and Social Care</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">Treatment</div>
            <div class="panel-body">
            
            
                <div class="dropdown" style="margin-bottom:5px">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Acupuncture and Electro-Therapeutics Research
 <span class="caret"></span>                     </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <li><a class="dropdown-item" href="http://www.medical-acupuncture.co.uk/aimintro.htm">Acupuncture and Electro-Therapeutics Research</a></li>
                        <li><a class="dropdown-item" href="http://www.medical-acupuncture.co.uk/aimintro.htm">Acupuncture in Medicine</a></li>
                        <li><a class="dropdown-item" href="http://acupuncturejournal.com/">American Journal of Acupuncture</a></li>
                        <li><a class="dropdown-item" href="http://www.acupuncture.org.au/ajacm.cfm">Australian Journal of Acupuncture and Chinese Medicine</a></li>
                        <li><a class="dropdown-item" href="http://www.liebertpub.com/publication.aspx?pub_id=233">Medical Acupuncture</a></li>
                        <li><a class="dropdown-item" href="http://www.medicalacupuncture.org/aama_marf/journal/index.html">Medical Acupuncture Online Journal</a></li>
                        <li><a class="dropdown-item" href="http://www.ontcm.com/wjam/index.htm">World Journal of Acupuncture and Moxibustion</a></li>
                    </ul>
                </div>
                <div class="dropdown" style="margin-bottom:5px">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuTwo" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Alternative and complementary medicines
 <span class="caret"></span>                     </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuTwo">
                        <a class="http://www.bioline.org.br/tc" href="#">African Journal of Traditional, Complementary and Alternative Medicines</a></li>
                        <li><a class="dropdown-item" href="http://www.liebertpub.com/publication.aspx?pub_id=3">Alternative and Complementary Therapies</a></li>
                        <li><a class="dropdown-item" href="http://www.thorne.com/alternative_medicine_review.wss">Alternative Medicine Review</a></li>
                        <li><a class="dropdown-item" href="http://www.alternative-therapies.com/">Alternative Therapies in Health and Medicine</a></li>
                        <li><a class="dropdown-item" href="http://www.biomedcentral.com/bmccomplementalternmed">BMC Complementary and Alternative Medicine</a></li>
                        <li><a class="dropdown-item" href="http://www.sagepub.com/journalsProdDesc.nav?prodId=Journal201646">Complementary Health Practice Review</a></li>
                        <li><a class="dropdown-item" href="http://www.sciencedirect.com/science/journal/17443881">Complementary Therapies in Clinical Practice</a></li>
                        <li><a class="dropdown-item" href="http://www.sciencedirect.com/science/journal/09652299">Complementary Therapies in Medicine</a></li>
                        <li><a class="dropdown-item" href="http://ecam.oxfordjournals.org/">Evidence-based Complementary and Alternative Medicine</a></li>
                        <li><a class="dropdown-item" href="http://www.medicinescomplete.com/journals/fact/current/">FACT (Focus on Alternative and Complementary Therapies)</a></li>
                    </ul>
                </div>
                <div class="dropdown" style="margin-bottom:5px">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton6" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Care
 <span class="caret"></span>                     </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton6">
                        <li><a class="dropdown-item" href="http://www.tandf.co.uk/journals/titles/13561820.html">Journal of Interprofessional Care</a></li>
                    </ul>
                </div>
                <div class="dropdown" style="margin-bottom:5px">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton36" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Research
 <span class="caret"></span>                     </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton36">
                        <li><a class="dropdown-item" href="http://www.tandf.co.uk/journals/titles/10715762.html">Free Radical Research</a></li>
                    </ul>
                </div>
                <div class="dropdown" style="margin-bottom:5px">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton7" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Chiropractic
 <span class="caret"></span>                     </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton7">
                        <li><a class="dropdown-item" href="http://www.chiroandosteo.com/">Chiropractic and Osteopathy</a></li>
                        <li><a class="dropdown-item" href="http://www.journalchiroed.com/">Journal of Chiropractic Education</a></li>
                    </ul>
                </div>
                <div class="dropdown" style="margin-bottom:5px">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton10" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        College Medicine
 <span class="caret"></span>                     </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton10">
                        <li><a class="dropdown-item" href="http://ahzyxyxb.periodicals.net.cn/default.html">Journal of Anhui Traditional Chinese Medical College</a></li>
                        <li><a class="dropdown-item" href="http://bjzyydxxb-z.periodicals.net.cn/default.html">Journal of Beijing University of Traditional Chinese Medicine (Clinical Medicine)</a></li>
                        <li><a class="dropdown-item" href="http://cdzyydxxb.periodicals.net.cn/default.html">Journal of Chengdu University of Traditional Chinese Medicine</a></li>
                        <li><a class="dropdown-item" href="http://gszyxyxb.periodicals.net.cn/default.html">Journal of Gansu College of Traditional Chinese Medicine</a></li>
                        <li><a class="dropdown-item" href="http://gyzyxyxb.periodicals.net.cn/default.html">Journal of Guiyang College of Traditional Chinese Medicine</a></li>
                        <li><a class="dropdown-item" href="http://njzyydxxb.periodicals.net.cn/default.html">Journal of Nanjing University of Traditional Chinese Medicine (Natural Science)</a></li>
                        <li><a class="dropdown-item" href="http://sdzyydxxb.periodicals.net.cn/default.html">Journal of Shandong University of Traditional Chinese Medicine</a></li>
                        <li><a class="dropdown-item" href="http://tjzyxyxb.periodicals.net.cn/default.html">Journal of Tianjin College of Traditional Chinese Medicine</a></li>
                    </ul>
                </div>
                <div class="dropdown" style="margin-bottom:5px">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton14" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Drug
 <span class="caret"></span>                     </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton14">
                        <li><a class="dropdown-item" href="http://www.who.int/druginformation">WHO Drug Information</a></li>
                    </ul>
                </div>
                <div class="dropdown" style="margin-bottom:5px">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton15" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Eastern Medicine
 <span class="caret"></span>                     </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton15">
                        <li><a class="dropdown-item" href="http://www.worldscinet.com/ajcm/ajcm.shtml">American Journal of Chinese Medicine</a></li>
                        <li><a class="dropdown-item" href="http://www.brill.nl/asme">Asian Medicine - Tradition and Modernity</a></li>
                        <li><a class="dropdown-item" href="http://www.acupuncture.org.au/ajacm.cfm">Australian Journal of Acupuncture and Chinese Medicine</a></li>
                        <li><a class="dropdown-item" href="http://www.csomaonline.org/i4a/pages/index.cfm?pageid=3289">California Journal of Oriental Medicine</a></li>
                        <li><a class="dropdown-item" href="http://www.ejom.co.uk/">European Journal of Oriental Medicine</a></li>
                        <li><a class="dropdown-item" href="http://hbzyyxb.periodicals.net.cn/default.html">Journal of Hebei Traditional Chinese Medicine and Pharmacology</a></li>
                        <li><a class="dropdown-item" href="http://www.jtcm.com/">Journal of Traditional Chinese Medicine</a></li>
                        <li><a class="dropdown-item" href="http://www.sotcm.com/">Sciences of Traditional Chinese Medicine</a></li>
                        <li><a class="dropdown-item" href="http://www.tandf.co.uk/journals/journal.asp?issn=1001-9294&subcategory=HS060000">Chinese Medical Sciences</a></li>
                        <li><a class="dropdown-item" href="http://members.shaw.ca/najom/Ehyoushi.htm">North American Journal of Oriental Medicine</a></li>
                    </ul>
                </div>
                <div class="dropdown" style="margin-bottom:5px">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton16" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Electro-shock therapy
 <span class="caret"></span>                     </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton16">
                        <li><a class="dropdown-item" href="http://www.cognizantcommunication.com/filecabinet/Acupuncture/acu.htm">Acupuncture and Electro-Therapeutics Research</a></li>
                    </ul>
                </div>
                <div class="dropdown" style="margin-bottom:5px">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton17" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Ethnopharmacology
 <span class="caret"></span>                     </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton17">
                        <li><a class="dropdown-item" href="http://www.sciencedirect.com/science/journal/03788741">Journal of Ethnopharmacology</a></li>
                    </ul>
                </div>
                <div class="dropdown" style="margin-bottom:5px">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton20" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Herbalism
 <span class="caret"></span>                     </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton20">
                        <li><a class="dropdown-item" href="http://www.herbalists.on.ca/journal">Canadian Journal of Herbalism, The</a></li>
                        <li><a class="dropdown-item" href="http://www.elsevier.com/wps/find/journaldescription.cws_home/620051/description">Fitoterapia</a></li>
                        <li><a class="dropdown-item" href="http://www.haworthpressinc.com/store/product.asp?sku=J157">Journal of Herbal Pharmacotherapy</a></li>
                        <li><a class="dropdown-item" href="http://www.haworthpressinc.com/store/product.asp?sku=J044">Journal of Herbs, Spices and Medicinal Plants</a></li>
                    </ul>
                </div>
                <div class="dropdown" style="margin-bottom:5px">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton21" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Homeopathic Medicine
 <span class="caret"></span>                     </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton21">
                        <li><a class="dropdown-item" href="http://www.homeopathyusa.org/journal">American Journal of Homeopathic Medicine</a></li>
                        <li><a class="dropdown-item" href="http://www.biomedcentral.com/bmcmed">BMC Medicine</a></li>
                        <li><a class="dropdown-item" href="http://www.thieme.com/SID2393844434530/journals/pubid1106914377.html">Homeopathic Links</a></li>
                        <li><a class="dropdown-item" href="http://www.sciencedirect.com/science/journal/14754916">Homeopathy</a></li>
                    </ul>
                </div>
                <div class="dropdown" style="margin-bottom:5px">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton22" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Hospice
 <span class="caret"></span>                     </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton22">
                        <li><a class="dropdown-item" href="http://ajh.sagepub.com/">American Journal of Hospice and Palliative Care</a></li>
                    </ul>
                </div>
                <div class="dropdown" style="margin-bottom:5px">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton24" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Medicine
 <span class="caret"></span>                     </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton24">
                        <li><a class="dropdown-item" href="http://www.dynamic-med.com/home">Dynamic Medicine</a></li>
                        <li><a class="dropdown-item" href="http://www.medical-acupuncture.co.uk/aimintro.htm">Acupuncture in Medicine</a></li>
                        <li><a class="dropdown-item" href="http://www.acupuncture.org.au/ajacm.cfm">Australian Journal of Acupuncture and Chinese Medicine</a></li>
                        <li><a class="dropdown-item" href="http://www.advancesjournal.com/adv">Advances in Mind-Body Medicine</a></li>
                        <li><a class="dropdown-item" href="http://www.ejom.co.uk/">European Journal of Oriental Medicine</a></li>
                        <li><a class="dropdown-item" href="http://www.elsevier.com/locate/freeradbiomed">Free Radical Biology and Medicine</a></li>
                        <li><a class="dropdown-item" href="http://www.la-press.com/journal.php?pa=description&journal_id=21">Integrative Medicine Insights</a></li>
                        <li><a class="dropdown-item" href="http://www.begellhouse.com/journals/708ae68d64b17c52.html">International Journal of Medicinal Mushrooms</a></li>
                        <li><a class="dropdown-item" href="http://www.elsevier.com/wps/find/journaldescription.cws_home/705245/description">International Journal of Osteopathic Medicine</a></li>
                        <li><a class="dropdown-item" href="http://www.liebertpub.com/publication.aspx?pub_id=26">Journal of Alternative and Complementary Medicine, The</a></li>
                        <li><a class="dropdown-item" href="http://www.jcm.co.uk/">Journal of Chinese Medicine</a></li>
                        <li><a class="dropdown-item" href="http://www.bepress.com/jcim">Journal of Complementary and Integrative Medicine</a></li>
                        <li><a class="dropdown-item" href="http://www.jnlcompmed.com.au/">Journal of Complementary Medicine</a></li>
                        <li><a class="dropdown-item" href="http://www.academicjournals.org/JMPR/index.htm">Journal of Medicinal Plant Research</a></li>
                        <li><a class="dropdown-item" href="http://content.karger.com/ProdukteDB/produkte.asp?Aktion=JournalHome&ProduktNr=224242">Research in Complementary Medicine</a></li>
                        <li><a class="dropdown-item" href="http://www.academicjournals.net/2/c4p.php?id=2&theme=2&jid=rjmp">Research Journal of Medicinal Plant</a></li>
                        <li><a class="dropdown-item" href="http://bvs.sld.cu/revistas/pla/indice.html">Revista Cubana de Plantas Medicinales</a></li>
                        <li><a class="dropdown-item" href="http://www.elsevier.com/wps/find/journaldescription.cws_home/706802/description">Seminars in Preventive and Alternative Medicine</a></li>
                        <li><a class="dropdown-item" href="http://www.thescientificworld.com/SCIENTIFICWORLDJOURNAL/DomainsAndClusters/ClusterLanding.asp?cid=14&jid=141">TSW Holistic Health and Medicine</a></li>
                    </ul>
                </div>
                <div class="dropdown" style="margin-bottom:5px">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton25" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Medical Food
 <span class="caret"></span>                     </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton25">
                        <li><a class="dropdown-item" href="http://www.liebertpub.com/publication.aspx?pub_id=38">Journal of Medicinal Food</a></li>
                    </ul>
                </div>
                <div class="dropdown" style="margin-bottom:5px">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton27" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Music Therapy
 <span class="caret"></span>                     </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton27">
                        <li><a class="dropdown-item" href="Nordic Journal of Music Therapy">Nordic Journal of Music Therapy</a></li>
                    </ul>
                </div>
                <div class="dropdown" style="margin-bottom:5px">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton28" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Manual Therapy
 <span class="caret"></span>                     </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton28">
                        <li><a class="dropdown-item" href="http://www.sciencedirect.com/science/journal/1356689X">Manual Therapy</a></li>
                    </ul>
                </div>
                <div class="dropdown" style="margin-bottom:5px">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton29" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Naturopathy
 <span class="caret"></span>                     </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton29">
                        <li><a class="dropdown-item" href="http://zgmjlf.periodicals.net.cn/default.html">China's Naturopathy</a></li>
                    </ul>
                </div>
                <div class="dropdown" style="margin-bottom:5px">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton30" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Osteopathy
 <span class="caret"></span>                     </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton30">
                        <li><a class="dropdown-item" href="http://www.chiroandosteo.com/">Chiropractic and Osteopathy</a></li>
                    </ul>
                </div>
                <div class="dropdown" style="margin-bottom:5px">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton33" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Physiological Therapeutics
 <span class="caret"></span>                     </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton33">
                        <li><a class="dropdown-item" href="http://journals.elsevierhealth.com/periodicals/ymmt">Journal of Manipulative and Physiological Therapeutics</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
        
