{% extends ‘base.html’ %}

{% block content %}
<div class=“row”>
	<div class=“col-lg-12”>
		<body style=“background-color:powderblue”>
			<h1 class=“page-header”> ISHAR Library</h1>
		</body>
		<p>ISHAR (Integrative Studies Historical Archive & Repository) is an academic reference library.  We offer tens of thousands of free, qualified academic sources on a range of topics, the main coverage of which includes Integrative Health, Integrative Culture and Integrative Theory. The contents of ISHAR include sources with varying levels of content: basic bibliographic sources, formalized abstract sources, full-length medical studies, abstracts of humanities sources, full-length humanities sources and complete journal sources.
These sources can be searched through a search bar, a discovery-based holistic mind-map of topics, and lists of topics organized into broad Health & Culture Wings.  ISHAR also features a variety of resources and tools, ranging from detailed tables of ancient cosmologies to full-access, free books on sacred texts.</p>
	</div>
</div>
{% endblock %}