{% extends 'base.html' %}

{% block content %}
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header"> Journal Portals</h1>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <p>ISHAR sources hundreds of medical and scientific journals to gather its information, but due to copyright limitations the ISHAR library does not contain all sources from all journals.  We encourage our visitors to explore the many source materials behind ISHAR, especially if they cannot find a source they were looking for on this site.  Below is a list of links to over one hundred medical and scientific journals dedicated to the discussion of complementary and alternative medicine (CAM), consciousness and the mind-body connection.  Below this Journal Portal are summaries of many of the journals which offer full or partial access for free, a rare and valuable feature outside of ISHAR.</p>
    </div>
</div>

{% endblock %}
        
